@media print 
{
    .new-page { page-break-after: always; }
}

.new-page {
}

.new-page hr {
  border: dashed 1px #aaa; 
}

.invisible {
  display: none;
}

.extra-space, .extra-space-invisible {
  margin-bottom: 50px;
}

.extra-space hr {
  border: dashed 1px #ddd; 
}

.extra-space-invisible hr {
  border: dashed 1px #fff; 
}

del  {
  color: #f00;
}

.nonum-title {
  font-size: 14pt;
}

.action-item {
  border: solid 2px #FFAB34;
  background: #FFEACC;
  color: #492B00;
  padding: 10px;
  margin: 50px;
}

code {
  padding: 0 2px;
  margin: 1px;
  background: rgba( 0, 255, 255, 0.3 );
  color: #000;
}

#table-of-contents code {
  background: #FFFBC0;
  color: #000;
}

.org-dl code {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-family: inherit;
}

pre span {
  background: #f2f2f2 !important;
}

.hint {
  border: solid 2px #003275;
  background: #9DCFFF;
  color: #003275;
  padding: 5px;
  margin: 50px;
  font-size: 11pt;
}

.console, .src-bash, .src-terminal {
  background: #333;
  color: #fff;
  padding: 10px;
}

.src-fileout {
  border: outset 5px #aaa;
  background: #ccc;
  color: #000;
}

.textfile {
  background: #fff;
  color: #000;
  padding: 10px;
}

img {
  border: solid 1px #eee;
  max-width: 100%;
}

blockquote {
  padding: 20px;
  border-left: solid 5px #aaa;
  background: #eee;
}

table { 
  margin: 20px auto; 
  table-layout: fixed;
}

table td, table th {
  display: table-cell;
}

table.col-5 td {
  width: 19%;
  text-align: center !important;
}

table.col-6 td {
  width: 16%;
  text-align: center !important;
}

table.col-7 td {
  width: 14%;
  text-align: center !important;
}

table.col-11 td {
  width: 9%;
  text-align: center !important;
}

table.col-11 code {
  font-size: 12pt;
  font-weight: bold;
}

table.highlight-col-1 tr th:nth-child(1),
table.highlight-col-1 tr td:nth-child(1) {
  background: #a1d9ff;
}

table.highlight-col-2 tr th:nth-child(2),
table.highlight-col-2 tr td:nth-child(2) {
  background: #a1d9ff;
}

table.highlight-col-3 tr th:nth-child(3),
table.highlight-col-3 tr td:nth-child(3) {
  background: #a1d9ff;
}

table.highlight-col-4 tr th:nth-child(4),
table.highlight-col-4 tr td:nth-child(4) {
  background: #a1d9ff;
}

table.highlight-col-5 tr th:nth-child(5),
table.highlight-col-5 tr td:nth-child(5) {
  background: #a1d9ff;
}

table.highlight-col-6 tr th:nth-child(6),
table.highlight-col-6 tr td:nth-child(6) {
  background: #a1d9ff;
}

table.highlight-col-7 tr th:nth-child(7),
table.highlight-col-7 tr td:nth-child(7) {
  background: #a1d9ff;
}

table.highlight-col-8 tr th:nth-child(8),
table.highlight-col-8 tr td:nth-child(8) {
  background: #a1d9ff;
}

table.highlight-col-9 tr th:nth-child(9),
table.highlight-col-9 tr td:nth-child(9) {
  background: #a1d9ff;
}

table.highlight-col-10 tr th:nth-child(10),
table.highlight-col-10 tr td:nth-child(10) {
  background: #a1d9ff;
}

table.highlight-col-11 tr th:nth-child(11),
table.highlight-col-11 tr td:nth-child(11) {
  background: #a1d9ff;
}

table.shade-2 tr td:nth-child(2) {
  background: #666;
}

table.shade-3 tr td:nth-child(3) {
  background: #666;
}

table.shade-4 tr td:nth-child(4) {
  background: #666;
}

table.shade-5 tr td:nth-child(5) {
  background: #666;
}

table.shade-6 tr td:nth-child(6) {
  background: #666;
}

table.shade-7 tr td:nth-child(7) {
  background: #666;
}

table.shade-8 tr td:nth-child(8) {
  background: #666;
}


table tr td:nth-of-type( even ),
table tr th:nth-of-type( even ) {
  background: #E8E8E8;
  color: #000;
}

table.uml {
  border: solid 1px #000;
  background: #FFF0B2;
  font-family: monospace;
  font-size: 10pt;
}

table.uml tr td:nth-of-type( even ),
table.uml tr th:nth-of-type( even ) {
  background: #FFF0B2;
}

table.uml td, table.uml th {
}

table.uml code {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.clear-both {
  clear:both;
}

.left-side {
  float: left;
  width: 45%;
}

.right-side {
  float: right;
  width: 45%;
}

.left-side img,
.right-side img {
  width: 100%;
}

.outline-2 ul li,
.outline-2 ol li {
	margin-bottom: 10px;
}

.cheatsheet-section {
  background: #FFE66B;
}

.cheatsheet-table code {
  background: none;
  font-weight: bold;
  font-size: 12pt;
}




table.ds-queue,
table.ds-queue tbody,
table.ds-queue colgroup, 
table.ds-stack,
table.ds-stack tbody,
table.ds-stack colgroup 
{
  border: none;
}

table.ds-queue tr:nth-child(1),
table.ds-stack tr:nth-child(1)
{
  border: solid 1px #000;
}

table.ds-queue tr,
table.ds-queue tr td, 
table.ds-stack tr,
table.ds-stack tr td 
{
  border: none;
  border-color: #fff;
  font-size: 10pt;
  font-style: italic;
  color: #333;
}

table.ds-queue tr:nth-child(1),
table.ds-queue tr:nth-child(1) td, 
table.ds-stack tr:nth-child(1),
table.ds-stack tr:nth-child(1) td 
{
  font-size: 14pt;
  font-style: normal;
}

table.ds-queue tr td:nth-of-type( even ),
table.ds-queue tr th:nth-of-type( even ), 
table.ds-stack tr td:nth-of-type( even ),
table.ds-stack tr th:nth-of-type( even ) 
{
  background: none;
  color: #000;
}

table.ds-queue tr td:nth-of-type( odd ),
table.ds-queue tr th:nth-of-type( odd ). 
table.ds-stack tr td:nth-of-type( odd ),
table.ds-stack tr th:nth-of-type( odd ) 
{
  background: none;
  color: #000;
}

table.ds-queue tr:nth-child(1) td:nth-of-type( even ),
table.ds-queue tr:nth-child(1) th:nth-of-type( even ) {
  background: #89d4ff;
  color: #000;
}

table.ds-queue tr:nth-child(1) td:nth-of-type( odd ),
table.ds-queue tr:nth-child(1) th:nth-of-type( odd ) {
  background: #bbe6ff;
  color: #000;
}

table.ds-queue code, table.ds-stack code {
  font-size: 14pt;
  font-weight: bold;
  background: none;
}





table.ds-stack tr:nth-child(1) td:nth-of-type( even ),
table.ds-stack tr:nth-child(1) th:nth-of-type( even ) {
  background: #ffc555;
  color: #000;
}

table.ds-stack tr:nth-child(1) td:nth-of-type( odd ),
table.ds-stack tr:nth-child(1) th:nth-of-type( odd ) {
  background: #ffe3ad;
  color: #000;
}

table.ds-stack tr:nth-child(3) td
{
  transform: rotate(90deg) translateX(20%);
  transform-origin: 50% 50%;  
}

table.ds-stack
{
  margin-bottom: 60px;
}

.puzzle-instructions {
  font-size: 9pt;
  font-family: sans-serif;
  border: solid 1px #000;
  padding: 0 10px;
}
